<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
  <nav class="navbar">
    <ul class="navbar-nav vertical">
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Project List</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-project" routerLinkActive="active">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Supplier</a>
      </li>
    </ul>
  </nav>
</div>