<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom px-5">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img src="../assets/images/logo_elca.png" alt="Elca logo"/>
      <span class="px-5" style="font-weight: bold;">Project Information Management</span>
    </div>
    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">EN</a>
        </li>
        <li class="divider"></li>
        <li class="nav-item">
          <a class="nav-link" href="#">FR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    <!-- </div> -->
  </div>
</nav>